.DS_Store
node_modules
/dist

# CapRover deploys
deploy.tar

# local env files
.env.local
.env.*.local
local.env

# prod env files
*.env

# openshift deploys
openshift-commands.txt

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
